body {
    background-color: darkkhaki;
}

h1 {
    background-color: aqua;
    color: brown;
}

p {
    color: cornflowerblue;
    background-color: aliceblue;
}

#paragraph {
    color: black;
    background-color: azure;
}

#heading {
    color: aqua;
    background-color: black;
}

.headingstyle {
    color: chocolate;
    background-color: darkgray;
}

div {
    background-color: aqua;
    opacity: 40%;
  }
  
  .dotted {
    border-style: dotted;
    width: 200px;
    height: 20px;
    border-color: blue;
  }
  
  .solid {
    border-style: solid;
    width: 500px;
    height: 10px;
    border-color: cornsilk;
  }
  
  .double {
    border-style: double;
  }
  
  #inset {
    border-style: inset;
    border-color: darkgreen;
  }
  
  #outset {
    border-style: outset;
  }